@import './mixins';
html, body {
  overflow-x: hidden;
}
.header {
  background: url('../images/banner6.jpg') no-repeat 0px 0px;
  background-size: cover;
  min-height: 350px;
  display: flex;
  align-items: center;
  &-user {
    width: 100%;
  }
  &-user__name {
    margin-top: 15px;
    h3 {
      color: #fff;
      font-size: 24px;
    }
    h4 {
      color: #fff;
      font-size: 20px;
    }
  }
  &-user__avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      max-width: 45%;
    }
  }
  &-user__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 100%;
    h4 {
      flex: 1.5;
      margin-bottom: 10px;
    }
    p {
      flex: 1;
    }
  }
  &-user__single {
    p {
      color: #fff;
    }
  }
  &-user__follow {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      flex: 0.5;
      color: #fff;
    }
    >div {
      flex: 1;
    }
    i {
      font-size: 30px;
      border: 2px solid #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      transition: all .4s ease;
      &.fa-qq{
        &:hover {
          color: #4867aa;
          border: 2px solid #4867aa;
        }
      }
      &.fa-wechat{
        &:hover {
          color: #0076b4;
          border: 2px solid #0076b4;
        }
      }
      &.fa-twitter{
        &:hover {
          color: #ba221d;
          border: 2px solid #ba221d;
        }
      }
      &.fa-weibo{
        &:hover {
          color: #0baee9;
          border: 2px solid #0baee9;
        }
      }
      &.fa-facebook-square{
        &:hover {
          color: #dd4e40;
          border: 2px solid #dd4e40;
        }
      }
      &.fa-linkedin{
        &:hover {
          color: #36465d;
          border: 2px solid #36465d;
        }
      }
    }
  }
}
/* .user-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */


/*skills**/
.skills {
  @extend %sub-container;
  /* background: url('../images/skillsbg.jpg') no-repeat;
  background-size: cover;
  padding: 15px 0;
  h4 {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  } */
}
.skills-content {
  padding: 0 20px;
}
.hr {
  width: 65px;
  height: 2px;
  background-color: #56b2e6;
  margin: 10px auto;
}

/**work*/
.work {
  @extend %sub-container;
  
}
.downloads {
  @extend %sub-container;
}


.tabs {
  display: flex;
  flex-direction: column;
  &-container {
    display: flex;
    height: 48px;
    position: relative;
    justify-content: center;
    width: 100%;
  }
  &-slider__wrapper {
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0;
    background-color: #F58703;
    transition: all .4s ease;
  }
  &-div {
    flex: 0 1 auto;
    max-width: 246px;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    a {
      max-width: inherit;
      display: flex;
      padding: 6px 20px;
      text-decoration: none;
    }
  }
  &-item {
    display: flex;
    width: 100%;
  }
  &-item__content {
    display: none;
    width: inherit;
    &.active {
      display: flex;
    }
    padding: 10px;
    img {
      max-width: 100%;
      border-radius: 5px;
    }
  }
  &-item__media {
    overflow: hidden;
    img {
      transition: all .9s ease;
      &:hover {
        transform: scale(1.2)
      }
    }
  }
}